.dropdown-container {
  position: relative;
}

.dropdown-trigger {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: calc(70%);
  left: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dropdown-trigger {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-container-label {
  margin-right: 8px;
}
